// General
html {
	font-size: 62.5%;
}

body {
	background: linear-gradient(rgba(2,2,2,.6), rgba(2,2,2,.6)), url('../assets/background.jpg') no-repeat center;
	background-size: cover;
	font-size: 1.618rem;
	font-family: 'PT Sans', sans-serif;
}

.wrapper {
	margin: 0 auto;
	max-width: 1170px;
	width: 90%;
}

img {
	max-width: 100%;
}

header, .movieResults, .selectedResults {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.hidden {
	display: none;
}


footer {
	color: white;
	text-align: center;
	padding-top: 1rem;
}


